# Idea files
/.idea

# VSCode files
/.vscode

# Build files
build-resauce-Desktop-Release/
build-resauce-Desktop-Debug/
build-tests-Desktop-Debug/
build/
build-test/
cmake-build-debug/

# User specific Qt file
resauce.pro.user
tests/tests.pro.user